@import "../../_scssPartials/mixins/mixins";
@import "../../_scssPartials/variables";

.header {
    z-index: 1;
    width: 100vw;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: $header-height;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Comfortaa', cursive;
    border-bottom: 1px solid black;
    @include displayFlex(row, space-between, center);

    & > h1 {
        color: var(--theme-text-color);
    }

    & > form {
        width: 500px;
        height: 60px;
    }
}