@import "../../_scssPartials/mixins";

.wrapper {
    background: var(--theme-main-color_2);
    color: var(--theme-text-color);
    padding: 30px 50px;

    & > h1 {
        text-align: center;
        margin: 0 0 50px;
    }


    & .empty {
        @include centeredFlex()
    }

    & .nonEmpty {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        column-gap: 30px;
    }
}