@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --theme-main-color_1: #000000;
    --theme-main-color_2: #1c1c1c;
    --theme-secondary-color: orange;
    --theme-subtext-color: #c5c5c5;
    --theme-text-color: white;
}

body {
    background-color: var(--theme-main-color_2);
    color: var(--theme-text-color);
}