@import "../../_scssPartials/mixins/mixins";

.mainWrapper {
    @include displayFlex();
    margin-bottom: 50px;
    height: 300px;

    & > .infoWrapper {
        height: 100%;
        margin-left: 50px;
        @include displayFlex(column, space-between);

        & > h1 {
            margin: 0;
        }

        & > button {
            padding: 20px;
            border-radius: 7px;
            background: transparent;
            cursor: pointer;

            &.removeBtn {
                border: 1px solid red;
                color: red;

                &:hover {
                    border: 1px solid transparent;
                    background: red;
                    color: var(--theme-text-color_2);
                }
            }

            &.addBtn {
                border: 1px solid green;
                color: green;

                &:hover {
                    border: 1px solid transparent;
                    background: green;
                    color: var(--theme-text-color_2);
                }
            }
        }
    }
}